body {
    margin: 0;
}

.c {
    height: 500px;
    width: 500px;
    background-color: grey;
}

.r {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute; 
    left: 200px;
    top: 200px;
}

.b {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute; 
    left: 100px;
    top: 100px;
    /* right: 200px; */
}

.y {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute; 
    /* right: 200px; */
}